/* Copied and adapted from urlbar-autocomplete.inc.css */

.urlbarView-row[dynamicType=test] {
  padding-block-start: 18px;
  /* Compensating for the 16px bottom margin on the tip elements. */
  padding-block-end: calc(18px - 16px);
  /* Compensating for the 4px focus ring on tip buttons. */
  padding-inline-end: calc(/*@urlbarViewItemInlinePadding@*/ 6px + 4px);
}

.urlbarView-dynamic-test-icon {
  min-width: 24px;
  height: 24px;
  margin-inline-end: 12px;
  flex-basis: 24px;
  flex-grow:  0;
  flex-shrink: 0;
}

/* The help icon is a standard Photon ghost button. */
.urlbarView-dynamic-test-help {
  min-width: 16px;
  height: 32px;
  background-image: url("chrome://global/skin/icons/help.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  padding-inline: 8px;
  margin-inline-start: 8px;
  -moz-context-properties: fill, fill-opacity;
}

.urlbarView-dynamic-test-help[selected] {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

.urlbarView-dynamic-test-help:hover {
  background-color: var(--urlbarView-button-background-hover);
}

.urlbarView-dynamic-test-help:active {
  background-color: var(--urlbarView-button-background-active);
}

.urlbarView-row[dynamicType=test]:not(:last-child) {
  border-bottom: 1px solid var(--panel-separator-color);
  margin-bottom: 4px;
}

.urlbarView-row[dynamicType=test]:not(:first-child) {
  border-top: 1px solid var(--panel-separator-color);
  margin-top: 4px;
}

.urlbarView-row[dynamicType=test] > .urlbarView-row-inner {
  display: flex;
  align-items: center;
  min-height: 32px;
  width: 100%;
}

/* For tips, give the title some bottom margin so that when the window is narrow
   and the buttons wrap below it, there's space between it and the buttons.  We
   then need to give the same bottom margin to the other tip elements so that
   they all remain vertically aligned. */
.urlbarView-dynamic-test-icon,
.urlbarView-dynamic-test-title,
.urlbarView-dynamic-test-button,
.urlbarView-dynamic-test-help {
  margin-block-end: 16px;
}

/* The tip button is a Photon default button when unfocused and a
   primary button in all other states. */
.urlbarView-dynamic-test-button {
  min-height: 16px;
  padding: 8px;
  border: none;
  border-radius: 2px;
  font-size: 0.93em;
  color: inherit;
  background-color: var(--urlbarView-button-background);
  min-width: 8.75em;
  text-align: center;
  flex-basis: initial;
  flex-shrink: 0;
}

.urlbarView-dynamic-test-button[selected] {
  color: white;
  background-color: var(--urlbarView-primary-button-background);
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}
.urlbarView-dynamic-test-button:hover {
  color: white;
  background-color: var(--urlbarView-primary-button-background-hover);
}

.urlbarView-dynamic-test-button:active {
  color: white;
  background-color: var(--urlbarView-primary-button-background-active);
}

.urlbarView-dynamic-test-buttonSpacer {
  flex-basis: 48px;
  flex-grow: 1;
  flex-shrink: 1;
}

.urlbarView-dynamic-test-title {
  white-space: normal;
  /* Give the tip title appropriate flex so that when the window is narrow, the
     tip buttons wrap around under it.  We want the icon and title to remain on
     one line.  So make the title's flex-basis the width of the parent minus the
     width of the icon. */
  flex-basis: calc(100% - /* .urlbarView-row-inner padding-inline-start */ 6px - /* .urlbarView-favicon width */ 24px - /* .urlbarView-favicon margin-inline-end */ 12px);
  flex-grow: 1;
  flex-shrink: 1;
}
