/* CSS for unit conversion */

.urlbarView-dynamic-dynamicConversion-content {
  font-weight: 700;
  display: flex;
  align-items: center;
  position: relative;
  left: -8px;
  width: calc(100% + 8px);
}

.urlbarView-dynamic-dynamicConversion-content[selected] {
  background-color: var(--autocomplete-popup-highlight-background);
  color: var(--autocomplete-popup-highlight-color);
}

.urlbarView-dynamic-dynamicConversion-icon {
  width: 16px;
  height: 16px;
  -moz-context-properties: fill;
  fill: currentColor;
  padding: 8px;
}

.urlbarView-dynamic-dynamicConversion-outputUnit {
  padding-inline-start: 0.25em;
}
